@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NPS';
  src: url('/fonts/NPSfont_regular.ttf');
}

@font-face {
  font-family: 'NPSBold';
  src: url('/fonts/NPSfont_bold.ttf');
}

@font-face {
  font-family: 'NPSEBold';
  src: url('/fonts/NPSfont_extrabold.ttf');
}

:root {
  background: #474646;
  color: #ffffff;
}

